<div class="jumbotron d-flex align-items-center min-vh-90">
  <div class="container text-center mt-5">
    <h5>Patient: <%= @diagnosis_item.patient.full_name %> </h5>
    <div>Diagnosis Item №<%= @diagnosis_item.id %></div>
    <br>
    <p class="text-start"><%= @diagnosis_item.content %> </p>
    <p>Physician: <%= @diagnosis_item.physician.full_name %></p>
    <%= link_to "Edit", edit_diagnosis_item_path(@diagnosis_item), :class => "btn btn-outline-primary" %>
    <%= link_to "Delete", diagnosis_item_path(@diagnosis_item), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-outline-danger" %>
    <br>
    <%= link_to "< Back", :back %> <br>
    <%= link_to " < Back to diagnosis_items", diagnosis_items_path() %>
  </div>
</div>
